.selector
    text-align left 
    cursor pointer 
    user-select none 
    height 100% 
    line-height 1.9 
    transition border 0.25s linear, color 0.25s linear, background-color 0.25s linear 
    border-radius 3px 
    position relative 
    width 100% 
    &:hover
      background-color #e8e8e8 
    .label
      color #222222 
      font-size 13px 
      font-weight 400 
      margin-left 10px 
      i
        margin-left 12px 
        font-size 10px 
        color #777 
        &:nth-child(1)
          margin-right 10px 
          font-size 12px 
        &:nth-child(2)
          position absolute 
          right 10px 
          top 8px 