@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'
@import '../../../styles/settings'

modal-width=430
label-input-spacing=15
.Data-connector
  display flex
  flex-flow column
  justify-content center
  align-items stretch
  form
    width rem-calc(modal-width)
    display flex
    flex-direction column
    label
      font-size rem-calc(13)
      font-weight 400
      color #777777
      align-items center
    input
      outline none
      padding rem-calc(8) rem-calc(5)
      border-radius rem-calc(3)
      box-shadow none
      width 100%
      border 1px solid rgba(0,0,0,0.15)
      transition border .25s linear,color .25s linear,background-color .25s linear
      font-size rem-calc(13)
      &:focus
        border 1px solid rgba(0,0,0,0)
        background-color #f5f5f5
    button
      margin-top rem-calc(10)
      align-self flex-end
      width rem-calc(100)
      outline none
      border none
      border-radius 3px
      padding rem-calc(8) rem-calc(16)
      cursor pointer
      font-size rem-calc(14)
      border-radius rem-calc(3)
    .btn-wrapper
      display flex
      flex 1
      justify-content space-between
      position relative
      .submit
        background-color #f26450
        color #fff
        align-self flex-end
        width auto
      .cancel
        background-color #ddd
        margin-left rem-calc(30)
    >label
      margin rem-calc(10) 0
      display flex
      flex-direction row
      flex 1
      span
        flex 0.17
        text-align left
        padding-right rem-calc(label-input-spacing)
      input
        flex 0.83
      >div
        flex 0.83
    >div
      display flex
      flex 1
      margin rem-calc(5) 0
      >label
        margin rem-calc(10) 0
      label:first-child
        flex 0.9
        display flex
        span
          flex 0.5
          text-align left
          padding-right rem-calc(label-input-spacing)
        input
          flex 1.5
      label:last-child
        flex 0.4
        display flex
        flex-direction row
        justify-content flex-end
        span
          flex 0.3
          text-align end
          padding-right rem-calc(label-input-spacing)
        input
          flex 0.6

.seperator
  position relative
  padding rem-calc(20) 0
  hr
    border-color rgba(247, 248, 250, 0.45)
  span
    position absolute
    top 10px
    left 45%
    background-color #fff
    color #757575

.header
  font-weight 300
  font-size 1.125rem
  letter-spacing: .3px
  color #555
  padding rem-calc(8) 0

.connection-status
  position absolute
  bottom rem-calc(-20)
  right 0