@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

.DataAssetViewCreationModal-wrapper
  height 100%
  overflow hidden
  display flex

.fixed-layer
  background-color rgba(0,0,0,0.25)
  overflow hidden
  position fixed
  top 0
  left 0
  z-index 1
  width 100%
  height 100%
  
.modal-content
  flex 1
  display flex
  flex-direction column
  position relative
  height 100%
  .content
    flex 1
    display flex
    flex-direction column
    position relative