font-size=14px

.SortBy-trigger
  width auto

.label
  font-size font-size
  color #777
  display inline-block
  margin-right 10px

.trigger
  font-size font-size
  color #555
  width auto
  display inline-block
  cursor pointer
  i
    font-size 12px
    margin-left 3px