@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'
@import '../../../styles/settings'

button-margin = 40px
border-color = #e5e5e5
// border-color = #ccc
.button
  width  auto
  padding rem-calc(7) rem-calc(10)
  background-color #fff
  color #f26450
  display inline-block
  text-align center
  white-space nowrap
  vertical-align middle
  cursor pointer
  user-select none
  background-image none
  border none
  border-radius rem-calc(3)
  outline none
  transition border 0.25s linear, color 0.25s linear, background-color 0.25s linear
  font-size rem-calc(12)

// f7f8fa
// 0.5
// 71767a

.btn-fav
  @extend .button
  background-color #fff
  color color-graphiti-red
  border 1px solid color-graphiti-red
  &:hover
    background-color #da5a48
    color #fff

.btn-fav-active
  @extend .button
  background-color color-graphiti-red
  border 1px solid color-graphiti-red
  color #fff
  &:hover
    background-color color-graphiti-red


.btn-permissions
  @extend .button
  background-color #f7f8fa
  border 1px solid rgba(0, 0, 0, 0.04)
  color #71767a
  &:hover
    background-color #dfe0e2
    
.btn-share
  @extend .btn-permissions
  padding rem-calc(7) rem-calc(15)
  background-color #fff
  border-color #e8e8e8
  color #444
  letter-spacing 0.3px
  height rem-calc(35)
  text-transform uppercase
  font-size rem-calc(11)
  font-weight 500
  &:hover
   background-color #e8e8e8
  i 
    margin-right 1px

.btn-copy
  @extend .btn-permissions
  i 
    margin-right 0!important

.btn-help
  @extend .btn-permissions
  width 100%
  margin rem-calc(10)

.btn-faq
  @extend .btn-help
  margin-right 0

.btn-notes
  @extend .btn-help

.btn-down
  @extend .btn-permissions
  height rem-calc(35)
  background-color #fff
  border-color #e8e8e8
  &:hover
    background-color #e8e8e8
  i 
    margin-right 0!important

.btn-save
  @extend .btn-down
  position relative
  span
    position absolute
    font-size 18px
    font-weight bold
    top -7px
    right 5px
    color #f26450

// .btn-delete
//   @extend .btn-fav
//   background-color #f26450
//   width 100%
//   position absolute
//   bottom 0
//   color #efe
//   margin rem-calc(5)

.btn-delete
  background #71767a
  font-weight 400
  font-size rem-calc(14)
  border 1px solid #65696d
  -webkit-box-shadow inset 0px 1px 1px rgba(255,255,255,0.2)
  box-shadow inset 0px 1px 1px rgba(255,255,255,0.2)
  width 92%
  padding rem-calc(8)
  color #fff
  margin rem-calc(10)
  position absolute
  bottom 0
  display inline-block
  white-space nowrap
  outline none
  border-radius rem-calc(3)
  transition border 0.25s linear, color 0.25s linear, background-color 0.25s linear
  cursor pointer
  &:hover
    background-color #da5a48
    border 1px solid #f26450

.btn-no-text
  @extend .btn-down
  margin-right rem-calc(10)
  height rem-calc(31)
