@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

.charts-list
  overflow-y scroll
  overflow-x hidden
  padding rem-calc(10)

.input
  width 100%
  margin rem-calc(10) 0
  outline none
  padding rem-calc(5)
  border 1px solid #ddd
  transition all 0.25s ease-in-out
  font-weight 400
  font-size 13px
  border-radius 3px
  &:focus
    border 1px solid color-graphiti-red
