@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.bottom-menu
  height 100px
  position absolute
  bottom rem-calc(40)
  z-index 9998
  background-color darken(color-main-light, 2%)
.wrapper
  width 100%
  height 100%
  overflow-y auto
  overflow-x hidden
  padding-bottom rem-calc(25)