@import '../../styles/settings'
@import '../../styles/custom'
@import './gettingStarted.styl'

.input-label-click
  @extend .input-label
  &:hover
    cursor pointer

.hr
  height: 0;
  border: none;
  border-top: 1px solid #eee;