
.logo-wrapper
  margin-top 1em
  margin-left 2em

.logo 
  background-repeat no-repeat
  background-size cover
  width 45px
  height 45px

.logo-red
  @extend .logo
  background-image url('../../images/graphiti.png')

.logo-white
  @extend .logo
  background-image url('../../images/graphiti_white.png')

.company-name
  position absolute
  left 55px
  top 8px
  font-size 24px
  font-weight bold
  color #F26450

.desc
  color #F3B562
  margin-top 5px
  font-weight 400