.rheostat {
  overflow: visible;
}

.rheostat-background {
  background-color: #fcfcfc;
  border: 3px solid #d8d8d8;
  position: relative;
}

.rheostat-progress {
  background-color: #f26450;
  position: absolute;
  height: 6px;
  top: 0;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 20%;
  height: 24px;
  outline: none;
  z-index: 2;
  width: 24px;
  border-radius: 50%;
  top: -10px;
  cursor: pointer;
}

.rheostat-handle:hover .input-tooltip {
  width: 50px;
  position: absolute;
  top: -20px;
  left: -14px;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}

.rheostat.is .rheostat-progress {
  background-color: transparent;
}

.rheostat.gt .rheostat-background {
  border: 3px solid #f26450;
}

.rheostat.gt .rheostat-progress {
  background-color: #d8d8d8;
}