@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.main-canvas
    border rem-calc(1) solid #FFF
    margin 0 auto
    background-color #fafafa
    background-image linear-gradient(to right, darken(color-main-light, 6%) 1px, transparent 1px), linear-gradient(to bottom, darken(color-main-light, 6%) 1px, transparent 1px) // AKASH EDITING GRID LINE STYLING
    &.full-screen
        background-image none