@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae


.close
  position absolute
  top rem-calc(15)
  right rem-calc(25)
  display flex
  flex-flow column
  justify-content center
  align-items center
  cursor pointer
  color #777
  z-index 999
  i
    font-size rem-calc(32)
  span
    line-height rem-calc(15)
    font-size rem-calc(13)
  &:hover
    color #f26450