<html>  
	<body>  
	  <h3>Hi ${memberName}, we are testing password reset :)!</h3>  
	  <div>  
	  	Your link for password reset is <a href="${verificationLink}">${verificationLink}</a>
	  </div>  
	</body>  
</html>  