@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

.inp-wrapper
  width 100%
  h5
    font-weight 400
    color #545454
    font-size rem-calc(15)

.inp-search
  padding 10px 0
  border none
  border-bottom 1px solid transparent
  outline none
  font-size 0.925em
  width 100%
  &:focus
    border-bottom 1px solid #f26450

.inputSplitSearchText-wrapper
  display flex
  justify-content flex-start
  flex 1
  margin-left rem-calc(10)
  padding rem-calc(2) 0
