<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="156015404188-7rd2v2qqf40k0vp9g811i33qdqte1bet.apps.googleusercontent.com">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700" rel="stylesheet">
  <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <style>
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    .__react_component_tooltip.show {
      opacity: 0.85!important;
      padding: 10px 15px;
    }

    input,
    textarea,
    select {
      font-family: inherit;
    }
  </style>
</head>

<body>
  <div id="app"></div>
</body>

</html>