@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

.faq-modal-wrapper
  margin 0
  .add-btn-wrapper
    width 100%
    text-align right
    button
      outline none
      border-radius rem-calc(3)
      background-color #f26450
      border none
      padding rem-calc(8) rem-calc(10)
      color #fff
      cursor pointer
      &:hover
        background-color #da5a48
  .faq-editables
    margin 0
    div
      margin-bottom rem-calc(10) 
      h5
        font-size rem-calc(11)
        font-weight 400
        color #555
        text-transform uppercase
    textarea
      width 100%
      resize none
      outline none
      border 1px solid #ddd
      padding rem-calc(5)
      font-size rem-calc(14)
      color #444
      border-radius rem-calc(3)
      margin-top rem-calc(5)
    .question-input
      overflow auto
    .answer-input
      overflow auto
  .faqs
    margin 0
    max-height rem-calc(300)
    overflow auto