@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

.submenu-wrapper
  display flex
  flex-flow column
  margin rem-calc(10) 0
  background-color #fff
  >div
    padding rem-calc(5)
    font-size rem-calc(14)
  .label-wrapper
    margin 0
    h5
      font-weight 500
      color rgba(0, 0, 0, 0.35)
      span
        font-weight 500
        color rgba(0, 0, 0, 0.7)