@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

bg-color = #f9f9f9
border-color = #e8e8e8
.assets-container
  padding rem-calc(10)
  background-color #fff

.assets-wrapper
  // border 1px solid border-color
  background-color #fff
  margin-left 10%
  // border-top-left-radius 3px
  // border-top-right-radius 3px
  height 85vh
  width 80%
  overflow-y scroll

.assets-list
  position relative

.sort-by
  position absolute
  top rem-calc(10)
  right rem-calc(0)