@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

.DescriptionInput
  margin 0
  textarea
    resize none
    width 100%
    padding rem-calc(5)
    font-size rem-calc(12)
    font-weight 400
    outline none
    border 1px solid #e8e8e8
    border-radius rem-calc(3)
    &::placeholder
      color #d2d7db
      font-size rem-calc(12)