@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

.PopUpComponent
  background-color #fff
  position relative
  width rem-calc(350)
  border-radius rem-calc(3)
  top rem-calc(10)
  z-index 999
  box-shadow 0 1px 9px 1px rgba(0,0,0,.12), 0 1px 3px 0px hsla(0,0%,88%,.25)
  transition all 0.3s cubic-bezier(.25,.8,.25,1)
  transform-origin 50% top 0px
  padding-top rem-calc(5)
  &:after,
  &:before 
    border solid transparent 
    content ' ' 
    height 0 
    pointer-events none 
    position absolute 
    width 0
    top rem-calc(-20)
    left rem-calc(20)
   
  &:before 
    top rem-calc(-22)
    border-bottom-color #e8e8e8 
    margin-left -11px 
    border-width 11px 
   
  &:after 
    border-bottom-color #fff 
    border-width 10px 
    margin-left -10px 
  .sources
    list-style none

.list-item
  color black
  cursor pointer
  padding rem-calc(5) rem-calc(10)
  color #444
  font-size rem-calc(13)
  transition all 0.25s ease-in-out
  &:hover
    background #ddd
.list-item-active

  @extend .list-item
  background  color-graphiti-red
  color #fff
  &:hover
    background color-graphiti-red