color-main-light = #fff
color-main-dark = #000
color-main-contrast = #3C3C3C
color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-menu-left-icons = color-main-contrast
color-menu-top-icons = #58666e
color-background-menu-left-collapsible = color-main-light
color-block-bg = #EEE
color-block-resize-border = #10A4AA
color-block-resize-squareholder = #D7895B

color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

discovery-sidebar-bg = linear-gradient(rgb(249, 248, 247), rgb(251, 250, 248) 46px, rgb(251, 251, 249) 120px, rgb(248, 247, 245) 35%, rgb(249, 248, 246))
discovery-sidebar-font-color = #777777

font-main = 'Open Sans', sans-serif
navbar-height = 62px
menu-width=130px