@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

color-main-contrast-light = #F3B562
color-graphiti-orange = #F3B562
color-main-contrast-light2 = #F1797A
color-graphiti-red = #F26450
color-gpt-red-light-1 = #ff8371
color-gpt-red-dark-1 = #da5a48
color-gpt-blue = #0fa2e2
color-gpt-blue-dark-1 = #0d91ca
color-gpt-label-blue-dark = #5692ad
color-gpt-darkgrey = #717171
color-gpt-purple = #615dae

.icon
  width rem-calc(16)
  height rem-calc(16)
  background-repeat none
  background-size cover
  cursor pointer

.icon-color
  @extend .icon
  background-image url('../../../../../images/color-normal.png')
  margin-right rem-calc(10)
  &:hover
    background-image url('../../../../../images/color-active.png')