@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.collapsible-right-menu
  width 290px
  color color-menu-left-icons
  background color-main-light
  background-size cover
  background-position 50% 50%
  height 100vh
  float left