@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

.qa-wrapper
  display flex
  flex-direction column
  padding rem-calc(10)
  .question
    font-weight 400
    color #444444
    font-size rem-calc(16)
    &:hover
      color #f26450
  .answer
    font-weight 400
    color #666
    font-size rem-calc(14)